/* Lightmode CSS */
:root {
  --primary-color: #d35400;
  --secondary-color: #2c3e50;
  --bg-color: #faf9f6;
  --card-bg: #ebeae7;
  --text-main: #d35400;
  --text-light: #d35400;
  --radius: 12px;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  --footer-bg: #f3e9e1;
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
}

body h1 {
  color: var(--primary-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
}

body h1 {
  color: var(--primary-color);
}
