/* --- Main.css --- */

/* Importing other CSS files for modularity */
@import "layout.css";
@import "components.css";
@import "forms.css";
@import "cart.css";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");

/* --- Root Variables --- */
/* DEFAULT: Dark Theme colors */
:root {
  --primary-color: #d35400;
  --secondary-color: #121212;
  --bg-color: #2b2626;
  --card-bg: #1e1e1e;
  --text-main: #f1f1f1;
  --text-light: #d35400;
  --radius: 12px;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* LIGHT THEME: Triggered when .dark-mode class is REMOVED from <html> */
html:not(.dark-mode) {
  --bg-color: #faf9f6;
  --text-main: #d35400;
  --card-bg: #ebeae7;
  --secondary-color: #121212;
  --text-light: #d35400;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* --- Global Styles --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Zen Antique", serif;
  background-color: var(--bg-color);
  color: var(--text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body h1 {
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}

/* --- Footer Section --- */
footer {
  text-align: center;
  padding: 40px 20px;
  background: var(--secondary-color);
  color: var(--text-light);
  margin-top: 3rem;
  border-top: 1px solid var(--primary-color);
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.footer-content h3 {
  color: #d35400;
  margin-bottom: 10px;
}

.footer-content p {
  color: #faf9f6;
  margin-top: 5px;
}

.footer-left {
  text-align: left;
}

.footer-center {
  text-align: center;
}

.footer-right {
  text-align: right;
}

/* Social Media Icons */
.footer-left img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  margin-top: 10px;
}

/* Icon Hover Effects */
.footer-left img:hover {
  transform: rotate(10deg) scale(1.2);
  opacity: 0.7;
}

/* Footer Mail Link Styles */
.footer-mail-link {
  color: #faf9f6;
  text-decoration: underline;
}

.footer-mail-link:hover {
  color: #d35400;
  text-decoration: underline;
}

/* --- Responsive Design --- */
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    text-align: center;
  }
}
